html {
    box-sizing: border-box;
    padding: 0;
    margin-left: 5px;
}

header {
    height: 200px;
    background-image: url("/img/pattern.png");
    background-color: #4EA0ff;
    background-size: contain;
    background-position: top;
    margin: 0;
}

#logo {
    height: 100px;
    width: 400px;
    margin-top: 80px;
}


h1 {
    font-size: 45px;
}

#booleaner {
    color: #1DA7E4;
}

.grey {
    color: #7E7E7E;
    font-weight: 600;
}

#data {
    font-size: small;
}

.photo-description {
    font-size: small;
    font-weight: 500;
}

.yellow {
    background-color: yellow;
}

.lorem {
    margin-bottom: 50px;
    margin-top: 50px;
}

thead {
    background-color: #20A9E5;
    color: white;
}

.blue {
    background-color: #B1E5F2;
}


td {
    height: 100px;
    text-align: center;
}

.left {
    text-align: left;
}

table {
    border-collapse: collapse;
}

.cella {
    width: 25%;
}
.testo-lungo {
    text-align: justify;
}

.foto {
    width: 400px;
    height: 300px;
    background-size: contain;
}

div > h2 {
    color: white;
    padding: 10px;
}

.prima-foto {
    background-image: url(/img/monitor.jpg);
}

.seconda-foto {
    background-image: url(/img/graph.jpg);
}